<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>PathFinder</title>
    <meta charset="UTF-8"> 
    <script src='https://raw.githubusercontent.com/Serena87/PathFinder/5bb4ef14e2f3d5d8564216def8aca26ad8a2ba19/templates/button_listeners.js'></script>
  </head>

  <body> 
    <div class="center-container">
      <div class="center-content">
        <img src='https://github.com/Serena87/PathFinder/blob/5bb4ef14e2f3d5d8564216def8aca26ad8a2ba19/templates/pathfinder_logo.jpg?raw=true'>
        <h1><font face="Inria Sans" size="34" color="Black">V&aumllj 5 som st&aumlmmer in med vem du &aumlr i arbetslivet!</font></h1>
      </div>
    </div>
  
