<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>PathFinder</title>
  </head>

  <body> 
    <div class="center-container">
      <div class="center-content">
        <img src='https://github.com/Serena87/PathFinder/blob/5bb4ef14e2f3d5d8564216def8aca26ad8a2ba19/templates/pathfinder_logo.jpg?raw=true'>
        <h1><font face="Arial" size="34" color="white">V&auml;lj 5 som st&auml;mmer in med vem du &auml;r i arbetslivet!</font></h1>
      </div>
    </div>
  
