<style>

body {
  font-family: Arial, sans-serif, Helvetica, Verdana ;
  background-color: #00002c; /* Dark blue background */
}
.center-container {
    position: relative;
    height: 80vh;
}
/* Content inside the container */
.center-content {        
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Center the content horizontally and vertically */
    text-align: center;
    display: flex;
    flex-direction: column; /* Stacks the elements vertically */
    align-items: center;       /* Centers the items horizontally and vertically */
    justify-content: center;   /* same */
}
/* The PathFinder logo */
img { 
   max-width: 100%; /* ensures that the logo doesn`t exceed the width of the container */
   height: auto;
   margin-bottom: 1rem; /* Provides some space between the logo and the text below */
}
/* The header text, description */
h1 {
  font: 'Inria Sans';
  font-size: 16px;
  color: white;
  margin-left: 50px;
}
/* Text: Vänligen välj exakt 5 nyckelord! */
h2 {
  font: 'Inria Sans';
  font-size: 16px;
  color: white;
  margin-left: 50px;
}
/* Text: Markerade nyckelord: */
h3 {
  font: 'Inria Sans';
  font-size: 14px;
  color: white;
  margin-left: 50px;
}
/* Text: Utifrån...etc */
h4 {
  font: 'Inria Sans';
  font-size: 16px;
  color: white;
  margin-left: 50px;
}
/* Text: Dina valda nyckelord: */
h5 {
  font: 'Inria Sans';
  font-size: 16px;
  color: white;
  margin-left: 50px;
}
/* The container for all the buttons, grid type */
.button-container {
    max-width:100%;
    display: grid;
    grid-template-columns: 9;
    grid-template-rows: 9;
    grid-auto-flow: dense;
    row-gap: none;
    grid-gap: none;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 15rem;  /* Provides some space between the buttons and the text above */
}
/* Attributes that are common for both button types: */
.greenbutton, .bluebutton {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

/* Specific attributes for green buttons only: */
.greenbutton {
    background-color: #9FD33C;
    color: #00002c;
}
/* Specific attributes only for blue buttons: */
.bluebutton {     
    background-color: #00002c;
    color: #9FD33C;
    border-color: #9FD33C;
    border-width: 5px;
  }
/* **** Button effects **** */
/* Clicked buttons */
.greenbutton.clicked, .bluebutton.clicked {
  background-color:darkslategray;
  color: white;

}

/* Color change when hovering over the button */
.greenbutton:hover, .bluebutton:hover {
    background-color: gray;
    color: black;
  }
/* Pressed effect */
.greenbutton:active, .bluebutton:active {
  transform: translateY(3px);
}
/* Puts the buttons in their positions within the 9x9 grid, creating a round form.
Starts with placing buttons in the centre and "grows" around the centre as the number
of buttons increases. Maximum of 50 buttons. */

.button-container :nth-child(1) {
  grid-area: 5 / 5; /* row / column */
}
.button-container :nth-child(2) {
  grid-area: 4 / 5
}
.button-container :nth-child(3) {
  grid-area: 4 / 6
}
.button-container :nth-child(4) {
  grid-area: 5 / 6
}
.button-container :nth-child(5) {
  grid-area: 6 / 6
}
.button-container :nth-child(6) {
  grid-area: 6 / 5
}
.button-container :nth-child(7) {
  grid-area: 6 / 4
}
.button-container :nth-child(8) {
  grid-area: 5 / 4
}
.button-container :nth-child(9) {
  grid-area: 4 / 4
}
.button-container :nth-child(10) {
  grid-area: 3 / 4
}
.button-container :nth-child(11) {
  grid-area: 3 / 5
}
.button-container :nth-child(12) {
  grid-area: 3 / 6
}
.button-container :nth-child(13) {
  grid-area: 3 / 7
}
.button-container :nth-child(14) {
  grid-area: 4 / 7
}
.button-container :nth-child(15) {
  grid-area: 5 / 7
}
.button-container :nth-child(16) {
  grid-area: 6 / 7
}
.button-container :nth-child(17) {
  grid-area: 7 / 5
}
.button-container :nth-child(18) {
  grid-area: 7 / 6
}
.button-container :nth-child(19) {
  grid-area: 6 / 2 
}
.button-container :nth-child(20) {
  grid-area: 6 / 3 
}
.button-container :nth-child(21) {
  grid-area: 5 / 3
}
.button-container :nth-child(22) {
  grid-area: 4 / 3 
}
.button-container :nth-child(23) {
  grid-area: 2 / 6 
}
.button-container :nth-child(24) {
  grid-area: 2 / 5
}
.button-container :nth-child(25) {
  grid-area: 4 / 8 
}
.button-container :nth-child(26) {
  grid-area: 5 / 8 
}
.button-container :nth-child(27) {
  grid-area: 7 / 3
}
.button-container :nth-child(28) {
  grid-area: 5 / 2 
}
.button-container :nth-child(29) {
  grid-area: 3 / 3
}
.button-container :nth-child(30) {
  grid-area: 8 / 5
}
.button-container :nth-child(31) {
  grid-area: 1 / 5
}
.button-container :nth-child(32) {
  grid-area: 3 / 2 
}
.button-container :nth-child(33) {
  grid-area: 2 / 4 
}
.button-container :nth-child(34) {
  grid-area: 4 / 1
}
.button-container :nth-child(35) {
  grid-area: 6 / 8 
}
.button-container :nth-child(36) {
  grid-area: 7 / 7
}
.button-container :nth-child(37) {
  grid-area: 8 / 6 
}
.button-container :nth-child(38) {
  grid-area: 8 / 4 
}
.button-container :nth-child(39) {
  grid-area: 5 / 9
}
.button-container :nth-child(40) {
  grid-area: 7 / 2 
}
.button-container :nth-child(41) {
  grid-area: 4 / 2
}
.button-container :nth-child(42) {
  grid-area: 1 / 6 
}
.button-container :nth-child(43) {
  grid-area: 2 / 7 
}
.button-container :nth-child(44) {
  grid-area: 3 / 8 
}
.button-container :nth-child(45) {
  grid-area: 4 / 9  
}
.button-container :nth-child(46) {
  grid-area: 9 / 5 
}
.button-container :nth-child(47) {
  grid-area: 5 / 1 
}
.button-container :nth-child(48) {
  grid-area: 6 / 2
}
.button-container :nth-child(49) {
  grid-area: 8 / 3 
}
.button-container :nth-child(50) {
  grid-area: 9 / 4 
}
/* Style for the Submit and Reset buttons */
input[type="submit"], input[type="reset"] {
  display: block;
  float: left;
  margin-right: 10px;
  
  padding: 10px 20px;
  border-color: #9FD33C;
  border-width: 2px;
  background-color: #00002c;
  color: #9FD33C;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer; /* Add pointer cursor on hover */
}
input[type='submit'] {
  margin-left: 50px;
}

</style>